/* Stylizacja całej strony */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Stylizacja przycisku powrotu */
#back_to_main {
    margin: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#back_to_main:hover {
    background-color: #45a049;
}


/* Stylizacja kontenera */
.container {
    max-width: 800px;
    width: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Stylizacja pól */
.field {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

/* Stylizacja nagłówków pól */
.field h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
    color: #333;
}

/* Stylizacja obrazów pól */
.field_image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Stylizacja tekstów pól */
.field p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}

/* Stylizacja przycisków */
.field button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.field button:hover {
    background-color: #45a049;
}

/* Stylizacja formularzy */
.field form {
    display: inline;
}

.field form button {
    background-color: #f44336;
}

.field form button:hover {
    background-color: #d32f2f;
}
